.home-container {
    display   : flex;
    margin-top: 40px;

    .left {
        padding: 10px;
        border : 2px dashed;
    }

    .right {
        padding: 10px;
        border : 2px dashed;
    }
}