.add-new {
    align-items    : center;
    justify-content: space-between;

    .group-btns {
        display    : flex;
        align-items: center;
        gap        : 10px;

        i {
            padding: 0 2px;
        }
    }
}

.sort-header {
    display        : flex;
    align-items    : center;
    justify-content: space-between;

    i {
        cursor: pointer;
    }
}

.customize-table {
    width     : inherit;
    overflow-x: auto;
}

.pagination {
    justify-content: center;
}